---
layout: default
title: Buttons | Livefyre Bootstrap
---

<section id="buttons">

  <h1 class="page-heading">Buttons</h1>

  {% include btn-reference.html target="buttons" docs="css/#buttons" %}

  <div class="collapse" id="buttons-changes">
    <div class="inner">
      <div class="well">
        <h4>What's New in v2.x</h4>
        <ul>
          <li>New semi-transparent <code>.btn-hollow</code> style.</li>
          <li>Attach a plus symbol next to a fycon using the <code>.add-plus</code> class.</li>
          <li>Improved ability to fine tune fycon sizes.</li>
          <li>Improved vertical centering.</li>
          <li>Constructed using new button height variables (@btn-height-lg: 46px) instead of vertical padding to ensure better button height consistency.</li>
          <li>All buttons now have the same border-radius (2px).</li>
        </ul>
      </div>
    </div>
  </div>

  <h3>Types</h3>

  <div id="buttons-default" class="item">
    <h4>Default</h4>

    <div class="well">
      {% include btn-toggle-code.html target="buttons-default" %}

      <button class="btn btn-default">Default</button>

      <div class="collapse" id="buttons-default-html">
        {% highlight html %}<button class="btn btn-default">Default</button>{% endhighlight %}
      </div>

      <div class="collapse" id="buttons-default-react">
        {% highlight html %}var Button = require('react-bootstrap').Button;

<Button>Default</Button>{% endhighlight %}
      </div>
    </div>
  </div>


  <div id="buttons-colors" class="item">
    <h4>Colors</h4>
    <p>We have a number of button colors available that are used throughout our designs. Semantically, the class names are defined by action and not color.</p>
    <p>The exception is the new Hollow button. It's semi-transparent so it looks slick on top of a photo.</p>

    <div class="well">
      {% include btn-toggle-code.html target="buttons-colors" %}

      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-link">Link</button>
      <button class="btn btn-hollow">Hollow</button>

      <div class="collapse" id="buttons-colors-html">
        {% highlight html %}<button class="btn btn-primary">Primary</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-info">Info</button>
<button class="btn btn-link">Link</button>
<button class="btn btn-hollow">Hollow</button>{% endhighlight %}
      </div>

      <div class="collapse" id="buttons-colors-react">
        {% highlight html %}var Button = require('react-bootstrap').Button;

<Button bsStyle="primary">Primary</Button>
<Button bsStyle="warning">Warning</Button>
<Button bsStyle="success">Success</Button>
<Button bsStyle="info">Info</Button>
<Button bsStyle="link">Link</Button>
<Button className="btn-hollow">Hollow</Button>{% endhighlight %}
      </div>
    </div>
  </div>


  <div id="buttons-disabled" class="item">
    <h4>Disabled Buttons</h4>

    <div class="well">
      {% include btn-toggle-code.html target="buttons-disabled" %}

      <button class="btn btn-default" disabled="disabled">Disabled</button>
      <button class="btn btn-primary" disabled="disabled">Disabled</button>

      <div class="collapse" id="buttons-disabled-html">
        {% highlight html %}<button class="btn btn-default" disabled="disabled">Disabled</button>
<button class="btn btn-primary" disabled="disabled">Disabled</button>{% endhighlight %}
      </div>

      <div class="collapse" id="buttons-disabled-react">
        {% highlight html %}var Button = require('react-bootstrap').Button;

<Button disabled>Disabled</Button>
<Button bsStyle="primary" disabled>Disabled</Button>{% endhighlight %}
      </div>
    </div>
  </div>


  <div id="buttons-sizes" class="item">
    <h4>Sizes</h4>
    <p>There are 3 additional sizes as well as a full-width block-level button size. These are designed to match input and form control heights.</p>

    <div class="well">
      {% include btn-toggle-code.html target="buttons-sizes" %}

      <p>
        <button class="btn btn-default btn-lg">Large</button>
        <button class="btn btn-default">Default</button>
        <button class="btn btn-default btn-sm">Small</button>
        <button class="btn btn-default btn-xs">Extra small</button>
      </p>

      <button class="btn btn-default btn-block">Full-Width Block</button>

      <div class="collapse" id="buttons-sizes-html">
        {% highlight html %}<button class="btn btn-primary btn-lg">Large</button>
<button class="btn btn-default">Default</button>
<button class="btn btn-default btn-sm">Small</button>
<button class="btn btn-default btn-xs">Extra small</button>

<button class="btn btn-default btn-lg btn-block">Full-Width Block</button>{% endhighlight %}
      </div>

      <div class="collapse" id="buttons-sizes-react">
        {% highlight html %}var Button = require('react-bootstrap').Button;

<Button bsSize="large">Large</Button>
<Button>Default</Button>
<Button bsSize="small">Small</Button>
<Button bsSize="xsmall">Extra small</Button>

<Button block="true">Full-Width Block</Button>{% endhighlight %}
      </div>
    </div>
  </div>



  <h3>Fycons in Buttons</h3>

  <div id="buttons-fycons" class="item">
    <h4>Sizes</h4>
    <p>Fycon sizes will adjust based on the button size.</p>
    <p>However, you can further fine tune the size of fycons in buttons using <code>.fycon-xs</code>, <code>.fycon-sm</code>, <code>.fycon-lg</code>, <code>.fycon-xl</code> and <code>.fycon-inherit</code> (uses the same font size as the button).</p>
    <p>Use these classes in the fycon's span container.</p>

    <div class="well">
      {% include btn-toggle-code.html target="buttons-fycons" %}

      <button class="btn btn-default">
        <span class="fycon-action-like fycon-xs" aria-hidden="true"></span> Extra Small
      </button>
      <button class="btn btn-default">
        <span class="fycon-action-like fycon-sm" aria-hidden="true"></span> Small
      </button>
      <button class="btn btn-default">
        <span class="fycon-action-like" aria-hidden="true"></span> Default
      </button>
      <button class="btn btn-default">
        <span class="fycon-action-like fycon-lg" aria-hidden="true"></span> Large
      </button>
      <button class="btn btn-default">
        <span class="fycon-action-like fycon-xl" aria-hidden="true"></span> Extra Large
      </button>

      <div class="collapse" id="buttons-fycons-html">
        {% highlight html %}<button class="btn btn-default">
  <span class="fycon-action-like fycon-xs" aria-hidden="true"></span> Extra Small
</button>

<button class="btn btn-default">
  <span class="fycon-action-like fycon-sm" aria-hidden="true"></span> Small
</button>

<button class="btn btn-default">
  <span class="fycon-action-like" aria-hidden="true"></span> Default
</button>

<button class="btn btn-default">
  <span class="fycon-action-like fycon-lg" aria-hidden="true"></span> Large
</button>

<button class="btn btn-default">
  <span class="fycon-action-like fycon-xl" aria-hidden="true"></span> Extra Large
</button>{% endhighlight %}
      </div>

      <div class="collapse" id="buttons-fycons-react">
        {% highlight html %}var Button = require('react-bootstrap').Button;
var Fycon = require('../Fycon'); // Custom LF component - Put the font name in the "ico" attribute, leaving out the "fycon-" part of the class name.

<Button><Fycon ico="action-like" size="xs" /> Extra Small</Button>
<Button><Fycon ico="action-like" size="sm" /> Small</Button>
<Button><Fycon ico="action-like" /> Default</Button>
<Button><Fycon ico="action-like" size="lg" /> Large</Button>
<Button><Fycon ico="action-like" size="xl" /> Extra Large</Button>{% endhighlight %}
      </div>
    </div>
  </div>


  <div id="buttons-plus" class="item">
    <h4>Add a Plus ("+")</h4>
    <p>Use the <code>.add-plus</code> class to add a small "+" next to the Fycon. Works with different fycon sizes.</p>

    <div class="well">
      {% include btn-toggle-code.html target="buttons-plus" %}

      <button class="btn btn-default">
        <span class="fycon-folder fycon-lg add-plus" aria-hidden="true"></span> New Folder
      </button>

      <div class="collapse" id="buttons-plus-html">
        {% highlight html %}<button class="btn btn-default">
  <span class="fycon-folder fycon-lg add-plus" aria-hidden="true"></span> New Folder
</button>{% endhighlight %}
      </div>

      <div class="collapse" id="buttons-plus-react">
        {% highlight html %}// Put the font name in the "ico" attribute, leaving out the "fycon-" part of the class name.
var Button = require('react-bootstrap').Button;
var Fycon = require('../Fycon'); // Custom LF component

<Button><Fycon ico="folder" size="lg" className="add-plus" /> New Folder</Button>{% endhighlight %}
      </div>
    </div>
  </div>
</section>
