<div class="reference btn-group pull-right">
  <button class="btn btn-link btn-v2" type="button" data-toggle="collapse" data-target="#{{ include.target }}-changes" aria-expanded="false" aria-controls="collapseExample" data-hover="tooltip" data-placement="bottom" data-delay="300" data-title="New in v2.x">
    v2
  </button>
  <a class="btn btn-link btn-bootstrap-docs" href="https://getbootstrap.com/{{ include.docs }}" target="_blank" data-hover="tooltip" data-placement="bottom" data-delay="300" data-title="Bootstrap Docs">{% include icon-bootstrap.svg %}</a>
</div>
