<header class="navbar navbar-default col-sm-3" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}/"><span class="fycon-source-livefyre colored" aria-hidden="true"></span> {{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="nav navbar-nav">
      <li class="{% if page.url contains '/buttons.html' %}active{% endif %}"> 
        <a href="buttons.html">Buttons</a>
        <ul class="nav">
          <li><a href="#buttons-default">Default Button</a></li>
          <li><a href="#buttons-colors">Colors</a></li>
          <li><a href="#buttons-disabled">Disabled Button</a></li>
          <li><a href="#buttons-sizes">Sizes</a></li>
          <li><a href="#buttons-fycons">Fycon Sizes</a></li>
          <li><a href="#buttons-plus">Add a Plus ("+")</a></li>
        </ul>
      </li>
      <li class="{% if page.url contains '/form-controls.html' %}active{% endif %}">
        <a href="form-controls.html">Form Controls</a>
        <ul class="nav">
          <li><a href="#checkboxes">Checkboxes</a></li>
          <li><a href="#radio-buttons">Radio Buttons</a></li>
        </ul>
      </li>
      <li class="{% if page.url contains '/labels.html' %}active{% endif %}">
        <a href="labels.html">Labels</a>
        <ul class="nav">
          <li><a href="#labels-colors">Colors</a></li>
          <li><a href="#labels-sizes">Sizes</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
