//
// Button groups
// --------------------------------------------------

// Since LF buttons don't have borders, we need to add separation between buttons
.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    //margin-left: 1px;
  }
  > .btn {
    background-color: @coral-color-background;
    border: 1px solid @coral-color-border;
    color: @coral-color-text-secondary;
    text-shadow: none;
    // Bring the "active" button to the front
    &:hover {
      z-index: 2;
      background-color: @coral-color-white !important;
      color: @coral-color-text-secondary;
    }
    &:focus,
    &:active,
    &.active {
      z-index: 2;
      background-color: @coral-color-background-active !important;
      color: @coral-color-text;
    }
  }
}


// Increase margin between buttons
.btn-toolbar {
  margin-left: -6px; // Offset the first child's margin

  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: 6px;
  }
}


// Right-aligned button toolbar
// - Use alongside .btn-toolbar (i.e. class="btn-toolbar btn-toolbar-right")
.btn-toolbar-right { 
  margin-right: -6px;
  margin-left: auto;
  text-align: right;

  .btn-group,
  .input-group {
    float: right;
  }

  > .btn,
  > .btn-group,
  > .input-group {
    margin-right: 6px;
    margin-left: auto;
  }
}


// Vertical button groups
.btn-group-vertical {
  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top: 1px;
  }
}


// Justified button groups
.btn-group-justified {
  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    border-left: 1px solid #fff;
  }
}
