//
// Button groups
// --------------------------------------------------
// [6/1/16 Phil - There don't seem to be any button group styles for Spectrum available yet. So, these styles are just highly-intelligent guesses.]


.btn-group {

  // Add 2px margin between buttons.
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: @btn-border-width;
  }

  // Since Default and warning buttons are outlined, overlap adjacent borders for a cleaner look.
  .btn-default + .btn,
  .btn-default + .btn-group,
  .btn-warning + .btn,
  .btn-warning + .btn-group {
      margin-left: -@btn-border-width;
  }

  // Since the buttons have rounded corners on only one side, add a little extra padding as needed to visually center their labels better.
  .btn:first-child { // Covers all button sizes except large
    padding-left: @padding-base-horizontal + 2;
  }
  .btn:last-child {
    padding-right: @padding-base-horizontal + 2;
  }

  .btn-lg:first-child {
    padding-left: @padding-large-horizontal + 2;
  }
  .btn-lg:last-child {
    padding-right: @padding-large-horizontal + 2;
  }
}


// Increase margin between buttons
.btn-toolbar {
  margin-left: -6px; // Offset the first child's margin

  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: 6px;
  }
}


// Right-aligned button toolbar
// - Use alongside .btn-toolbar (i.e. class="btn-toolbar btn-toolbar-right")
.btn-toolbar-right { 
  margin-right: -6px;
  margin-left: auto;
  text-align: right;

  .btn-group,
  .input-group {
    float: right;
  }

  > .btn,
  > .btn-group,
  > .input-group {
    margin-right: 6px;
    margin-left: auto;
  }
}


// Vertical button groups
.btn-group-vertical {

  // Add 2px margin between buttons.
  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    margin-top: @btn-border-width;
  }

  // Since Default and warning buttons are outlined, overlap adjacent borders for a cleaner look.
  .btn-default + .btn,
  .btn-default + .btn-group,
  .btn-warning + .btn,
  .btn-warning + .btn-group {
      margin-top: -@btn-border-width;
  }

  // Only slightly rounding the corners of the top and bottom buttons (It looks a bit odd when we round them as much as we do other buttons).
  > .btn {
    &:first-child:not(:last-child) {
      border-top-right-radius: @border-radius-base;
      border-top-left-radius: @border-radius-base;
    }
    &:last-child:not(:first-child) {
      border-bottom-right-radius: @border-radius-base;
      border-bottom-left-radius: @border-radius-base;
    }
  }
}


// Justified button groups
.btn-group-justified {
  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    border-left: 0; // Can't use the negative margin method used above since the group is justified. 
  }
}


// Split button dropdowns
// ----------------------

// Since the dropdown buttons have rounded corners on only one side, add a little extra right padding to visually center the caret better.
.btn-group > .btn + .dropdown-toggle {
  padding-right: 10px;
}
.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 14px;
}
