@import (reference) "@{bootstrap-less}/buttons";
@import (reference) "./mixins";
@import (reference) "./variables";


// Base styles
// --------------------------------------------------

.btn {
  // Using fixed heights and line-heights instead of padding to improve vertically centering fycons inside buttons
  padding: 0 @padding-base-horizontal;
  height: @btn-height;
  line-height: @btn-height;
  border: 0;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .opacity(.5);
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  .button-shadow(@btn-default-bg; @btn-default-border);
}
.btn-primary {
  .button-shadow(@btn-primary-bg; @btn-primary-border);
}
// Warning appears as orange
.btn-warning {
  .button-shadow(@btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  .button-shadow(@btn-danger-bg; @btn-danger-border);
}
// Success appears as green
.btn-success {
  .button-shadow(@btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.btn-info {
  .button-shadow(@btn-info-bg; @btn-info-border);
}


// Hollow buttons
// -------------------------

.btn-hollow {
  .button-variant(@btn-hollow-color; @btn-hollow-bg; @btn-hollow-border;);
  .button-shadow(@btn-hollow-bg; @btn-hollow-border);
  
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-color: fade(@gray-darker, 80%);
    border-color: @gray-darker;
  }  
}


// Link buttons
// -------------------------

.btn-link {
  .btn-default;
  font-weight: @btn-font-weight;
  background: transparent;
  border: 1px solid transparent;
  border-radius: @btn-radius;

  &:hover,
  &:focus,
  &:active {
    color: @btn-default-color;
    text-decoration: none;
    background-color: transparent;
    border-color: @btn-default-border;
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  .button-size(0; @padding-large-horizontal; @font-size-large; @btn-height-lg - 2; @btn-radius);
  height: @btn-height-lg;
}
.btn-sm {
  .button-size(0; @padding-small-horizontal; @font-size-small; @btn-height-sm; @btn-radius);
  height: @btn-height-sm;
}
.btn-xs {
  .button-size(0; @padding-xs-horizontal; @font-size-small; @btn-height-xs; @btn-radius);
  height: @btn-height-xs;
}


// Fycons
// --------------------------------------------------

.btn {
  [class^="fycon-"],
  [class*=" fycon-"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    line-height: 1; // Must be smaller than .btn's to prevent fycon from expanding height of button.

    &:before {
      vertical-align: initial;
    }

    &.pull-left,
    &.pull-right {
      line-height: inherit;
    }
  }
}

.btn {
  .fycon-xs {
    font-size: @font-size-base - 4px;
  }
  .fycon-sm {
    font-size: @font-size-base - 2px;
  }
  .fycon-lg {
    font-size: @font-size-base + 2px;
  }
}

.btn-xs, 
.btn-sm {
  .fycon-xs {
    font-size: @font-size-small - 4px;
  }
  .fycon-sm {
    font-size: @font-size-small - 2px;
  }
  .fycon-lg {
    font-size: @font-size-small + 2px;
  }
}

.btn-lg {
  .fycon-xs {
    font-size: @font-size-large - 8px;
  }
  .fycon-sm {
    font-size: @font-size-large - 4px;
  }
  .fycon-lg {
    font-size: @font-size-large + 4px;
  }
}