@import (reference) "./variables";
@import (reference) "./mixins";

//
// Forms
// --------------------------------------------------

// Common form controls
.form-control,
.form-control:focus {
  -webkit-box-shadow: none; // iOS <4.3 & Android <4.1
          box-shadow: none;
}

// Form control sizing
.input-xs {
  .input-size(@input-height-xs; 0; (@padding-xs-horizontal / 2); @font-size-small; @line-height-small; @input-border-radius);
}

.input-sm {
  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @input-border-radius);
}

.input-lg {
  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @input-border-radius);
}

// Checkboxes and radios
// - Uses fycons instead of browser styles
.checkbox label,
.radio label,
label.checkbox-inline,
label.radio-inline {
  padding-left: 26px;
  color: @gray-darker;

  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 0 0 -26px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  font-size: 1.1em;
  width: 1.2em; // FF, IE
  height: 1.2em; // FF, IE

  &:before {
    .fycons-styles-base;
    color: @gray-darker;
  }

  &:hover:before {
    color: @gray-darkest;
  }

  &:checked:before {
    color: @gray-darker;
  }

  &[disabled] {
    &:before,
    & + span {
      color: @gray-darkish;
    }
  }
}

input[type="checkbox"] {
  .fycon-form-checkbox-empty;

  &:checked {
    .fycon-form-checkbox-active;
  }

  &:indeterminate {
    color: @gray-darkest;
    .fycon-form-checkbox-partial;
  }
}

input[type="radio"] {
  .fycon-form-radio-empty;

  &:checked {
    .fycon-form-radio-active;
  }
}

// Focus: Override browser default and TwBS styles
// - Only works on Chrome and Safari.
// - Only works in Safari/MacOS if user changes default keyboard shortcut setting to allow tabbing to "All controls."
// - Can't add a blue outline like the textboxes because the input element is larger and shaped differently than the fycon. So, instead, we're simple turning the fycon blue.
input[type="radio"],
input[type="checkbox"] {
  &:before {
    transition: color ease-in-out .15s; // Similar to .form-control
  }

  &:focus {
    outline: 0; // Remove the fuzzy focus ring that TwBS implements in forms.less with .tab-focus mixin.

    &:before {
      color: @blue;
    }
  }
}

// Radios and checkboxes on same line
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 48px;
}
