@import (reference) "./variables";
@import (reference) "./mixins";

.form-sidebar {         
  .form-section {
    margin-bottom: 27px;
  }
  
  .form-section-header {
    margin: 0;
    padding: 0 (@grid-gutter-width / 2) 9px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border-bottom: thin solid @gray-light;
    
    &.control-label {
      border-bottom: 0;
    }
  }
  
  .form-group {
    .clearfix;
    min-height: @sidebar-form-group-height;
    padding-bottom: 12px;
    border-bottom: thin solid @gray-light;
  }
  
  .control-label:not(.form-section-header) {
    font-size: @sidebar-form-label-font-size;
    font-weight: 500;
    color: @gray-dark;
    line-height: @sidebar-form-label-line-height;
  }
  
  .dropdown-toggle {
    &.text-left {
      text-align: left; // Needs the extra specificity
    }
    &.btn-block {
      padding: 0 @padding-base-horizontal;
    }
    &.btn-block.btn-lg {
      padding: 0 @padding-large-horizontal;
    }
  }

  .form-horizontal {
    .form-group {
      height: @sidebar-form-group-height;
      margin: 0;
      padding-bottom: 0;

      > div[class^="col-"],
      > div[class*=" col-"] {
        height: 100%;
      }
    }

    .control-label {
      .vertical-center-margin(@sidebar-form-group-height; @sidebar-form-label-line-height);
      padding-top: 0;
      text-align: left;
    }

    .btn,
    .input,
    .toggle {
      .vertical-center-margin(@sidebar-form-group-height; @btn-height);
    }
    .btn-xs,
    .btn-group-xs .btn  {
      .vertical-center-margin(@sidebar-form-group-height; @btn-height-xs);      
    }
    .btn-sm,
    .btn-group-sm .btn {
      .vertical-center-margin(@sidebar-form-group-height; @btn-height-sm);      
    }
    .input {
      .vertical-center-margin(@sidebar-form-group-height; @input-height-base);
    }
    .input-sm {
      .vertical-center-margin(@sidebar-form-group-height; @input-height-small);
    }
    .toggle-sm {
      .vertical-center-margin(@sidebar-form-group-height; 22px);      
    }
  }

}