@import (reference) "./variables";
@import (reference) "./mixins";


// Text input groups
// -------------------------
.input-group-addon {
  color: @gray;
  background-color: @input-bg;
}

//
//     <div class="search-form">
//       <i class="fycon-search"></i>
//       <input type="text" placeholder="Search" />
//     </div>
//
.search-form {
  display: inline-block;

  .fycon-search {
    position: relative;
    left: 2em;
  }

  input {
    padding-left: 2em;
    border-radius: 10px;
    border: thin solid black;

    &:hover {
      border: thin solid @lf-blue;
    }
  }
}
