//
// Modals
// --------------------------------------------------

// Container that the modal scrolls within
.modal {
  z-index: @zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // Change default animation to bounce-in (instead of slide down)
  &.fade .modal-dialog {
    .translate3d(0,0,0);
    .transition(none); // For Safari: fixes issue where modal click areas are shifted up.
    .animation(scale-bounce-in .3s);
    .backface-visibility(visible);
  }  
}

// Actual modal
.modal-content {
  // Remove focus outline from opened modal
  outline: 0;
  border-radius: @border-radius-base;
}

// Modal background
.modal-backdrop {
  // Fade for backdrop
  &.in { .opacity(@modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  min-height: (@modal-title-padding + @modal-title-line-height);
  padding: 14px @modal-inner-padding 10px;
  background-color: @modal-header-bg;
  border-radius: @border-radius-large @border-radius-large 0 0;
  text-align: left;
}

// Close icon
.modal-header .close {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-top: 0;
  font-size: 12px;
  line-height: 18px;
}

// Title text within header or body
.modal-title {
  padding: 0 @modal-title-padding 0 0; // Prevent overlap with close button    
  font-size: @modal-title-font-size;
  color: @gray-darker;

  &.text-center {
    padding-left: @modal-title-padding; // Prevent overlap with close button 
  }

  em, i {
    font-weight: 600;
  }
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  padding: 16px @modal-inner-padding @modal-inner-padding;
  color: @gray-darker;

  section {
    margin-bottom: 18px;
    padding: 18px;
    background: @gray-lightest;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4,
  .modal-subheader {
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 20px;
    font-weight: @headings-font-weight;
    line-height: 30px;
    color: @gray-darkest;
  }

  p {
    margin-bottom: 14px;
    line-height: 18px;
  }
}

// Footer (for actions)
.modal-footer {
  padding: 0 @modal-inner-padding @modal-inner-padding;
  text-align: right;
  border-top: 0;
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Tw Bootstrap helper classes. Needed here to override default right alignment.
  &.text-left {
    text-align: left;
  }
  &.text-center {
    text-align: center;
  }

  // Properly space out buttons
  .btn + .btn {
    margin-left: 7px;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}


// Alert Modal
// - Does not include a title section. Useful for alert messages and notifications that require the user's attention.
// - <h4> headline should be placed inside of .modal-body (without the .modal-title class)
// - There's no "close" button so be sure to include a confirmation button that closes the modal.
.modal-alert {
  .modal-header {
    display: none;
  }

  .modal-body {
    padding-top: @modal-inner-padding;
    text-align: center;
  }

  .modal-footer {
    text-align: center;

    &.text-right {
      text-align: right;
    }
  }
}


// Scale up the modal
@media (min-width: @screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: @modal-md;
  }
  
  // Modal sizes
  .modal-xs { width: @modal-xs; }
  .modal-sm { width: @modal-sm; }
}

@media (min-width: @screen-md-min) {
  .modal-lg { width: @modal-lg; }
}
