@import (reference) "./mixins";
@import (reference) "./variables";

/**
* .popover
* Default theme for popovers, light background
* @theme
*/
.popover {
  .make-popover-theme(@popover-bg, @gray-darker, 1px solid @popover-border-color, @popover-arrow-color, @popover-arrow-outer-fallback-color, @popover-arrow-outer-color);
  .box-shadow(0 0px 10px 0 rgba(0,0,0,.2));
  display: block;
}

.popover-title {
  font-weight: bold;
  border-bottom: none;
}


/**
* .popover.dark
* Dark theme for popovers
* @theme
* TODO: Figure out how to pass theme color from popover div
*/
.popover.dark {
  .make-popover-theme(@popover-dark-bg, #ffffff, 0, @popover-dark-arrow-color, @popover-dark-arrow-outer-fallback-color, @popover-dark-arrow-color);
}
