/**
 * Bootstrap Variables
 */
@import "@{bootstrap-less}/variables.less";

// Colors
// -------------------------

@gray-base:     #2f3440; // 100% - Ex: Prominent text
@gray-darkest:  #2f3440; // 100% - Ex: Prominent text (LF variable)
@gray-darker:   #595d66; // 80%  - Ex: Paragraph text
@gray-dark:     #82858c; // 60%  - Ex: Subtext text
@gray-darkish:  #acaeb3; // 40%  - Ex: Disabled text (LF variable)
@gray:          #cbcccf; // 25%  - Ex: Default button bg hover
@gray-light:    #e0e1e3; // 15%  - Ex: Default button bg
@gray-lighter:  #efeff0; // 8%   - Ex: Bg watermark
@gray-lightest: #f7f7f7; // 4%   - Ex: Default bg (LF variable)

@purple:        #7168a5;
@blue:          #0f98ec;
@green:         #63c685;
@yellow:        #feb33b;
@orange:        #e65b3f;
@red:           #d63960;
@storify-blue:  #3A98D9;

@purple-dark:   darken(@purple, 15%);   // #4f4879
@blue-dark:     darken(@blue, 15%);     // #0a6aa4
@green-dark:    darken(@green, 15%);    // #3ba15e
@yellow-dark:   darken(@yellow, 15%);   // #eb9101
@orange-dark:   darken(@orange, 15%);   // #c03519
@red-dark:      darken(@red, 15%);      // #a12141

@purple-light:  lighten(@purple, 15%);  // #9e98c2
@blue-light:    lighten(@blue, 15%);    // #53b7f4
@green-light:   lighten(@green, 15%);   // #9bdab1
@yellow-light:  lighten(@yellow, 15%);  // #fed187
@orange-light:  lighten(@orange, 15%);  // #ef9583
@red-light:     lighten(@red, 15%);     // #e37893

// Common Social Media Colors
// -------------------------
@brand-drupal:        #0077c0;
@brand-facebook:      #3b5998;
@brand-flickr:        #ff0084;
@brand-foursquare:      #0cbadf;
@brand-google:        #4285f4;
@brand-gplus:         #dd4b39;
@brand-instagram:       #3f729b;
@brand-linkedin:      #0e76a8;
@brand-pinterest:       #c8232c;
@brand-reddit:        #ff4500;
@brand-rss:         #ee802f;
@brand-soundcloud:      #ff7700;
@brand-tumblr:        #34526f;
@brand-twitter:       #55acee;
@brand-vimeo:         #44bbff;
@brand-vine:        #00a478;
@brand-youtube:       #c4302b;
@brand-wordpress:       #21759b;

// Typography
// -------------------------
@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

// Brand colors
// -------------------------

@brand-primary:   #FF5E00;
@brand-success:   @green;
@brand-warning:   @yellow;
@brand-danger:    @red;
@brand-info:      @blue;

// Iconography
// -------------------------
@icon-font-path:    "fonts/";
@fycon-font-name:    "fycons";

// Components
// -------------------------
@padding-base-vertical:          7px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       18px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       12px;

@padding-xs-vertical:            1px;
@padding-xs-horizontal:          12px;

@border-radius-base:        3px;
@border-radius-large:       4px;
@border-radius-small:       2px;

@component-active-bg:       @blue;

/**
 * Links
 */

@link-color:            @blue;
@link-hover-color:      darken(@blue, 15%);

/**
 * Navbar
 */

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             0;
@navbar-padding-horizontal:        floor(@grid-gutter-width / 2);
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);

@navbar-default-bg:                #35353a;
@navbar-default-link-color:        #aaa;
@navbar-default-link-hover-color:  white;

// Navbar brand label
@navbar-default-brand-color:       white;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:    transparent;

// Form states and alerts
// -------------------------

@state-success-text:             #FFFFFF;
@state-success-bg:               @green;
@state-success-border:           @green;

@state-info-text:                #FFFFFF;
@state-info-bg:                  @blue;
@state-info-border:              @blue;

@state-warning-text:             #FFFFFF;
@state-warning-bg:               @yellow;
@state-warning-border:           @yellow;

@state-danger-text:              #FFFFFF;
@state-danger-bg:                @red;
@state-danger-border:            @red;


// Forms
// -------------------------
@input-bg:                      #fff;
@input-bg-disabled:             @gray-lighter;

@input-color:                   @gray-darker;
@input-border:                  @gray-light;
@input-border-radius:           @border-radius-small;
@input-border-focus:            @blue;

@input-height-base:             (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-xs:               (@font-size-small * 2);

@sidebar-form-group-height:       48px;
@sidebar-form-label-font-size:    @font-size-base;
@sidebar-form-label-line-height:  18px;


// Buttons
// -------------------------

// Using fixed heights and line-heights instead of padding to improve vertically centering fycons inside buttons
@btn-height:                     36px;
@btn-height-xs:                  24px;
@btn-height-sm:                  30px;
@btn-height-lg:                  46px;

@btn-radius:                     @border-radius-small; // Used for all button sizes

@btn-font-weight:                500;

@btn-default-color:              @gray-darkest;
@btn-default-bg:                 @gray-light;
@btn-default-border:             @gray-light;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @orange;
@btn-primary-border:             @orange-dark;

@btn-success-color:              #fff;
@btn-success-bg:                 @green;
@btn-success-border:             @green-dark;

@btn-info-color:                 #fff;
@btn-info-bg:                    @blue;
@btn-info-border:                @blue-dark;

@btn-warning-color:              #fff;
@btn-warning-bg:                 @yellow;
@btn-warning-border:             @yellow-dark;

@btn-danger-color:               #fff;
@btn-danger-bg:                  @red;
@btn-danger-border:              @red-dark;

@btn-hollow-color:               #fff;
@btn-hollow-bg:                  fade(@gray-darker, 40%);
@btn-hollow-border:              #fff;

@btn-link-disabled-color:        @gray-darkish;

// Labels
// -------------------------
@label-color:                   #ffffff;
@label-default-bg:          #E5ECF2; // Very light blue
@label-primary-bg:          @orange;
@label-success-bg:          @green;
@label-info-bg:           @blue;
@label-warning-bg:          @yellow;
@label-danger-bg:         @red;

// Badges
// -------------------------
@badge-color:                 #fff;
@badge-link-hover-color:      #fff;
@badge-bg:                    @orange;

@badge-active-color:          @link-color;
@badge-active-bg:             #fff;

@badge-font-size:       1em;
@badge-font-weight:           500;
@badge-line-height:           1.2;
@badge-border-radius:         1em;

// Bars
// -------------------------
@bar-default-bg: #f7f8f6;
@bar-default-nav-link-color: @gray;
@bar-default-nav-active-link-color: rgb(235, 81, 43);
@bar-default-nav-active-link-bg: fadeout(@bar-default-nav-active-link-color, 95%);
@bar-default-nav-active-link-border-color: @bar-default-nav-active-link-color;

@bar-inverted-bg: #30353f;
@bar-inverted-nav-link-color: @gray-light;
@bar-inverted-nav-active-link-color: white;
@bar-inverted-nav-active-link-bg: fadeout(@bar-default-nav-active-link-color, 80%);
@bar-inverted-nav-active-link-border-color: @bar-default-nav-active-link-color;

// Tooltips
// -------------------------
@tooltip-max-width:       200px;
@tooltip-arrow-width:           5px;

@tooltip-color:         #ffffff;
@tooltip-light-color:           @gray-dark;

@tooltip-bg:          #232731;
@tooltip-light-bg:              #ffffff;

@tooltip-arrow-color:           @tooltip-bg;
@tooltip-light-arrow-color:     @tooltip-light-bg;

// Popovers
// -------------------------
@popover-bg:                          #fff;
@popover-dark-bg:                     #232731;
@popover-border-color:                rgba(0,0,0,.2);
@popover-fallback-border-color:       #ccc;

@popover-arrow-width:                 10px;
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
@popover-arrow-color:                 #fff;
@popover-arrow-outer-color:           rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color:  #999;

@popover-dark-arrow-color:                 @popover-dark-bg;
@popover-dark-arrow-outer-color:           @popover-dark-bg;
@popover-dark-arrow-outer-fallback-color:  @popover-dark-bg;

// Dropdowns
// -------------------------
@dropdown-bg:                    #fff;
@dropdown-border:                transparent;
@dropdown-link-hover-color:      @gray-dark;
@dropdown-link-hover-bg:         @gray-lighter;
@dropdown-header-color:          @gray;

// Modals
// -------------------------
@modal-header-bg:             #F4F5F5;
@modal-header-border-color:   #ECECEA;
@modal-inner-padding:         24px;
@modal-title-padding:         28px;
@modal-backdrop-bg:           #000;
@modal-backdrop-opacity:      .7;
@modal-content-fallback-border-color: #999;
@modal-title-font-size:       @font-size-base;
@modal-title-line-height:     20px;
@modal-content-bg:            #fff;
@modal-content-border-color:  rgba(0,0,0,.2);
@modal-header-border-color:   #e5e5e5;
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg: 900px;
@modal-md: 600px;
@modal-sm: 450px;
@modal-xs: 300px;

// Alerts
// -------------------------
@alert-padding:                 9px;

@alert-success-bg:              @green;
@alert-success-border:          darken(@alert-success-bg, 15%);
@alert-success-text:            #fff;

@alert-warning-bg:              @yellow;
@alert-warning-border:          darken(@alert-warning-bg, 15%);
@alert-warning-text:            #fff;

@alert-info-bg:                 @blue;
@alert-info-border:             darken(@alert-info-bg, 15%);
@alert-info-text:               #fff;

@alert-danger-bg:              @red;
@alert-danger-border:          darken(@alert-danger-bg, 15%);
@alert-danger-text:            #fff;

// Close
// -------------------------
@close-color:                   @gray-darkish;
@close-height:                  30px;

// Panels
// -------------------------
@panel-body-padding:          17px;
@panel-heading-padding:       19px 17px;
@panel-border-radius:         @border-radius-small;

@panel-inner-border:          @gray-light;

@panel-default-text:          @gray-darkest;
@panel-default-border:        @gray;
@panel-default-heading-bg:    #fff;

// Slats
// -------------------------
@slat-height:                   60px;
@slat-padding:                  10px;
@slat-border-color:             @gray-lighter;
@slat-bg-hover-color:           @gray-lighter;
@slat-line-height:              18px;
@slat-font-color:               @gray-dark;
@slat-header-height:            36px;
@slat-header-font-size:         11px;
@slat-header-font-color:        @gray;
@slat-title-size:               @font-size-base;
@slat-title-color:              @gray-darker;


// Toggles
// -------------------------
@toggle-width: 50px;
@toggle-height: 28px;
@toggle-label-width: 75px;

@toggle-width-sm: 36px;
@toggle-height-sm: 22px;
@toggle-label-width-sm: 64px;

@toggle-handle: @toggle-height;
@toggle-handle-sm: @toggle-height-sm;

@toggle-on-bg: @green;
@toggle-off-bg: #eee;


// Pager
// -------------------------
@pager-border-radius:           @btn-radius;