$gray-base:     #2f3440; // 100% - Ex: Prominent text
$gray-darkest:  #2f3440; // 100% - Ex: Prominent text (LF variable)
$gray-darker:   #595d66; // 80%  - Ex: Paragraph text
$gray-dark:     #82858c; // 60%  - Ex: Subtext text
$gray-darkish:  #acaeb3; // 40%  - Ex: Disabled text (LF variable)
$gray:          #cbcccf; // 25%  - Ex: Default button bg hover
$gray-light:    #e0e1e3; // 15%  - Ex: Default button bg
$gray-lighter:  #efeff0; // 8%   - Ex: Bg watermark
$gray-lightest: #f7f7f7; // 4%   - Ex: Default bg (LF variable)

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


html, body {
  position: relative; // For Bootstrap's ScrollSpy
  height: 100%;
}

/* Header and Nav */

.container-fluid > .row > .navbar { // Ensure this doesn't conflict with any examples
  margin-bottom: 0;

  a {
    color: $gray-dark
  }

  .active > a {
    color: #fff;
  }  

  .navbar-header {
    float: none;

    .navbar-brand {
      padding: ($spacing-unit / 2) 0;
      color: #fff;
    }

    .fycon-source-livefyre {
      font-size: 24px;
    }
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav > li {
    float: none;
  }

  .nav .nav {
    display: none;
    margin-left: $spacing-unit / 2;
  }

  .active .nav {
    display: block;

    a:hover,
    a:focus {
      background-color: transparent;
      color: #fff;
    }    
  }

  @media (min-width: $screen-sm-min) {
    //flex: 1;
    max-width: 300px;
    overflow-y: auto;
    position: fixed;
    height: 100vh;
  }
}



/* Content */


.page-content {
  padding-bottom: 300px;

  @media (min-width: $screen-sm-min) {
    //flex: 3;
    overflow-y: auto;

    > .wrapper {
      max-width: $screen-md-min;
      padding: 0 $spacing-unit;
    }
  }
}

.wrapper > section { // Ensure this doesn't conflict with any examples
  > .page-heading {
    margin: 0;
    padding-top: $spacing-unit;
    font-size: 36px;
    line-height: 42px;
    color: $gray-darkest;
  }

  > h3 {
    margin: 60px 0 12px;
    padding-bottom: 18px;
    font-size: 28px;
    line-height: 30px;
    border-bottom: 1px solid $gray-light;
  }
}

.item {
  padding: 30px 0; // Add padding on top for use with anchor links

  > h4 {
    margin: 0 0 12px;
    font-size: 20px;
    line-height: 24px;
    color: $gray-darkest;
  }

  > p {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  code {
    white-space: nowrap;
  }
}


.well {
  margin: 24px 0 0;
  border: 0;
  box-shadow: none;
  background-color: $gray-lightest;

  .highlight {
    margin: 18px 0 0;
    padding-top: 12px;
    background: none;
  }

  pre {
    margin-bottom: 0;
    padding: 0;
    background: none;
    border: 0;
  }
}
